Design/
bin/
.build-debug/
.build-release/
.clang/
.codelite/
*.mk
*.lukas
*.session
*.tags
compilation.db
cscope.out
cscope_file.list

Tests/ClientServerTests/Debug/
Tests/ClientServerTests/Release/
Tests/GameSystemTests/Debug/
WordOfFlat/GameComm/Debug/
WordOfFlat/GameComm/Release/
WordOfFlat/GameComp/Debug/
WordOfFlat/GameLoader/Debug/
WordOfFlat/GameLoader/Release/
WordOfFlat/GameMsgCli/Debug/
WordOfFlat/GameMsgCli/Release/
WordOfFlat/GameMsgSrv/Debug/
WordOfFlat/GameMsgSrv/Release/
WordOfFlat/GameResHold/Debug/
WordOfFlat/GameResHold/Release/
WordOfFlat/GameSystem/Debug/
WordOfFlat/GameSystem/Release/
WordOfFlat/MainWindow/Debug/
WordOfFlat/MainWindow/Release/
WordOfFlat/WorldCli/Debug/
WordOfFlat/WorldCli/Release/
WordOfFlat/WorldSrv/Debug/
WordOfFlat/WorldSrv/Release/
shmcpp/triangle/Debug/

LoneWolf/Makefile
Tests/ClientServerTests/ClientServerTests.txt
Tests/GameSystemTests/GameSystemTests.txt
Tests/Makefile
WordOfFlat/GameComm/GameComm.txt
WordOfFlat/GameComp/GameComp.txt
WordOfFlat/GameLoader/GameLoader.txt
WordOfFlat/GameMsgCli/GameMsgCli.txt
WordOfFlat/GameMsgSrv/GameMsgSrv.txt
WordOfFlat/GameResHold/GameResHold.txt
WordOfFlat/GameSystem/GameSystem.txt
WordOfFlat/MainWindow/MainWindow.txt
WordOfFlat/Makefile
WordOfFlat/WorldCli/WorldCli.txt
WordOfFlat/WorldSrv/WorldSrv.txt
shmcpp/Makefile
shmcpp/triangle/triangle.txt


