Design/
bin/
.build-debug/
.build-release/
.clang/
.codelite/
*.mk
*.lukas
*.session
*.tags
compilation.db
cscope.out
cscope_file.list


LoneWolf/Makefile
Source/Makefile
Source/BarrelWorld/Debug
Source/BarrelWorld/Release
Source/BarrelWorld/Debug64
Source/BarrelWorld/Release64
Source/BarrelWorld/BarrelWorld.txt
